@font-face {
    font-family: Gotham-Bold-Products;
    src: url(../fonts/Gotham-Bold.eot);
    src: url(../fonts/Gotham-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Bold.woff) format("woff"), url(../fonts/Gotham-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.mouseover-content-box {
    width: 250px;
    position: absolute;
    left: 755px;
    margin-top: -42px;
    background-color: #f2f2f2;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    z-index: 40;
    padding: 10px;
    text-align: left;
    display: none
}

@media (max-width: 400px) {
    .mouseover-content-box {
        right: 40px
    }
}

.mouseover-content-box .mouseover-content-box-title {
    font-weight: 700;
    color: #e70404
}

.mouseover-content-box .mouseover-content-box-copy strong {
    font-weight: 700 !important
}

.title-container {
    max-width: 1155px;
    margin: 11px auto 0;
    width: 100%
}

.title-container.expand-bottom {
    padding-bottom: 31px
}

@media (max-width: 400px) {
    .title-container.expand-bottom {
        padding-bottom: 0
    }
}

.title-container .separator {
    background: #ededed;
    height: 1px;
    margin: 10px 0 14px
}

.title-container .note {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    text-align: left
}

@media (max-width: 768px) {
    .title-container {
        padding: 0 25px
    }
}

@media (max-width: 400px) {
    .title-container {
        padding: 0 10px
    }
}

h1.title {
    color: #0f436e;
    font-family: Gotham-Bold-Products, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    border-bottom: none;
}

.grey-body-section .content-container {
    padding: 0;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto
}

.content-container {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto 0;
    padding: 0 100px
}

@media (max-width: 768px) {
    .content-container {
        padding: 0 25px
    }
}

@media (max-width: 400px) {
    .content-container {
        padding: 0 5px
    }
}

.container, .container-fluid {
    padding: 0 !important
}

.form-container .progress {
    background-color: transparent;
    font-size: 1rem;
    position: relative;
    overflow: visible;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 28px
}

.form-container .progress:after {
    background: #ededed;
    content: "";
    height: 1px;
    position: absolute;
    left: -32px;
    right: -32px;
    bottom: 0
}

#progress-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.terms-page #progress-container {
    width: 670px !important;
}

body.federal-payment .grey-body-section, body.state-payment .grey-body-section {
    background-color: #ededed;
    padding: 30px 28px 35px
}

@media (max-width: 768px) {
    body.federal-payment .grey-body-section, body.state-payment .grey-body-section {
        padding: 25px
    }
}

@media (max-width: 400px) {
    body.federal-payment .grey-body-section, body.state-payment .grey-body-section {
        padding: 0 !important;
        background-color: #fff !important
    }
}

body.federal-payment .grey-body-section .form-container, body.state-payment .grey-body-section .form-container {
    background-color: #fff;
    padding: 20px 32px 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden
}

body.federal-payment .grey-body-section .step4-confirm .form-container-radius-off {
    background-color: #fff;
    padding: 20px 32px 30px;
    overflow: hidden
}

body.federal-payment .grey-body-section .form-container-radius-off, body.state-payment .grey-body-section .form-container-radius-off {
    background-color: #fff;
    padding: 20px 32px 30px;
    overflow: hidden
}

@media (max-width: 768px) {
    body.federal-payment .grey-body-section .form-container, body.state-payment .grey-body-section .form-container {
        padding: 10px 40px
    }
}

@media (max-width: 400px) {
    body.federal-payment .grey-body-section .form-container, body.state-payment .grey-body-section .form-container {
        padding: 10px
    }
}

body.federal-payment .grey-body-section .form-container .progress, body.state-payment .grey-body-section .form-container .progress {
    position: relative;
    padding-bottom: 28px
}

body.federal-payment .grey-body-section .form-container .progress .container, body.state-payment .grey-body-section .form-container .progress .container {
    width: 1160px;
    margin: 0 auto
}

body.federal-payment .grey-body-section .form-container .progress .container .mobile-progress-meter, body.state-payment .grey-body-section .form-container .progress .container .mobile-progress-meter {
    display: none;
    text-align: left;
    color: #555;
    font-weight: 700;
    font-size: 1.375em
}

@media (max-width: 768px) {
    body.federal-payment .grey-body-section .form-container .progress .container .mobile-progress-meter, body.state-payment .grey-body-section .form-container .progress .container .mobile-progress-meter {
        display: block
    }
}

@media (max-width: 400px) {
    body.federal-payment .grey-body-section .form-container .progress .container .mobile-progress-meter, body.state-payment .grey-body-section .form-container .progress .container .mobile-progress-meter {
        text-align: left
    }
}

body.federal-payment .grey-body-section .form-container .progress .progress-meter, body.state-payment .grey-body-section .form-container .progress .progress-meter {
    padding: 0
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter, body.state-payment .grey-body-section .form-container .progress ol.progress-meter {
    padding-bottom: 9.5px;
    list-style-type: none
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter:after, body.state-payment .grey-body-section .form-container .progress ol.progress-meter:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media (max-width: 768px) {
    body.federal-payment .grey-body-section .form-container .progress ol.progress-meter, body.state-payment .grey-body-section .form-container .progress ol.progress-meter {
        display: none
    }
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li {
    display: block;
    float: left;
    text-align: center;
    text-indent: -19px;
    height: 52px;
    width: 25%;
    font-size: 14px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    line-height: 2rem
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li:before, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li:before {
    position: relative;
    float: left;
    text-indent: 0;
    left: calc(50% - 9.5px)
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.done:before, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.done:before {
    background: #0f436e url(../images/icon-done.svg) no-repeat 50% 50%;
    content: "";
    height: 19px;
    width: 19px;
    bottom: -45px;
    border: none;
    border-radius: 100%
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.todo:before, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.todo:before {
    content: "\25CF";
    font-size: 43px;
    bottom: -42px;
    line-height: 18.05px
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.done, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.done {
    color: #000;
    border-bottom-color: #0f436e
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.current {
    font-weight: 700;
	color: black !important
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.done:before, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.done:before {
    color: #fff;
    background-color: #0f436e
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.todo, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.todo {
    color: silver;
    border-bottom-color: silver
}

body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.todo:before, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.todo:before {
    color: silver
}

@media (max-width: 1120px) {
    body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li {
        height: 52px
    }

    body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.done:before, body.federal-payment .grey-body-section .form-container .progress ol.progress-meter li.todo:before, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.done:before, body.state-payment .grey-body-section .form-container .progress ol.progress-meter li.todo:before {
        bottom: -44px
    }
}

body.federal-payment .grey-body-section .form-container .intro-paragraph, body.state-payment .grey-body-section .form-container .intro-paragraph {
    margin-bottom: 67px
}

body.federal-payment .grey-body-section .form-container .intro-paragraph p, body.state-payment .grey-body-section .form-container .intro-paragraph p {
    color: #555;
    font-size: .75em;
    font-weight: 400
}

body.federal-payment .grey-body-section .form-container .get-started, body.state-payment .grey-body-section .form-container .get-started {
    color: #0f436e;
    text-align: left;
    font-family: Gotham-Bold-Products, Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 34px 0 0;
    margin: 0
}

@media (max-width: 768px) {
    body.federal-payment .grey-body-section .form-container .get-started, body.state-payment .grey-body-section .form-container .get-started {
        text-align: left;
        margin: 20px 0 0
    }
}

body.federal-payment .grey-body-section .tabrow, body.state-payment .grey-body-section .tabrow {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0 32px;
    line-height: 46px;
    background-color: #fff;
    position: relative;
    text-align: center
}

body.federal-payment .grey-body-section .tabrow:after, body.state-payment .grey-body-section .tabrow:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 0;
    z-index: 1
}

body.federal-payment .grey-body-section .tabrow .nav-item, body.state-payment .grey-body-section .tabrow .nav-item {
    border-bottom: 0 #d0d0d0;
    font-weight: 700
}

body.federal-payment .grey-body-section .tabrow .nav-item.active, body.state-payment .grey-body-section .tabrow .nav-item.active {
    margin-bottom: -1px;
    border-bottom: 1px #fff;
}

body.federal-payment .grey-body-section .tabrow li, body.state-payment .grey-body-section .tabrow li {
    margin: 0;
    padding: 0 25px;
    border: 1px solid #d0d0d0;
    background: #ededed;
    display: inline-block;
    color: #097bb8;
    z-index: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    max-width: 160px
}

@media (max-width: 350px) {
    body.federal-payment .grey-body-section .tabrow li, body.state-payment .grey-body-section .tabrow li {
        padding: 10px 15px
    }
}

body.federal-payment .grey-body-section .tabrow li:not(.selected):hover, body.state-payment .grey-body-section .tabrow li:not(.selected):hover {
    background-color: #fff;
    cursor: pointer
}

body.federal-payment .grey-body-section .tabrow li:not(.selected):hover a, body.state-payment .grey-body-section .tabrow li:not(.selected):hover a {
    border-bottom-color: transparent
}

body.federal-payment .grey-body-section .tabrow li:not(.selected) a {
    border-bottom: 1px solid;
}

.payment-type-page .pre-forms .content a {
    border-bottom: 1px solid;
}
.payment-type-page .pre-forms .content a:active, .payment-type-page .pre-forms .content a:hover {
    text-decoration: none;
}

body.federal-payment .grey-body-section .tabrow li:first-child, body.state-payment .grey-body-section .tabrow li:first-child {
    margin-right: 20px
}

body.federal-payment .grey-body-section .tabrow li:nth-child(2), body.state-payment .grey-body-section .tabrow li:nth-child(2) {
    margin-left: 20px
}

body.federal-payment .grey-body-section .tabrow li a, body.federal-payment .grey-body-section .tabrow li a:hover, body.state-payment .grey-body-section .tabrow li a, body.state-payment .grey-body-section .tabrow li a:hover {
    color: #097bb8
}

body.federal-payment .grey-body-section .tabrow .selected, body.state-payment .grey-body-section .tabrow .selected {
    background: #fff;
    color: #000;
    z-index: 2;
    border-bottom-color: #fff
}

body.federal-payment .grey-body-section .pre-forms, body.state-payment .grey-body-section .pre-forms {
    background-color: #fff;
    padding: 25px 0 28px;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #4a4a4a;
    font-size: 14px
}

@media screen and (max-width: 768px) {
    body.federal-payment .grey-body-section .pre-forms, body.state-payment .grey-body-section .pre-forms {
        text-align: center;
        padding: 20px 0
    }
}

body.federal-payment .grey-body-section .pre-forms div.content, body.state-payment .grey-body-section .pre-forms div.content {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0
}

body.federal-payment .grey-body-section .pre-forms div.content p, body.state-payment .grey-body-section .pre-forms div.content p {
    margin: 0;
    padding-left: 34px;
}

body.federal-payment .grey-body-section .pre-forms a, body.state-payment .grey-body-section .pre-forms a {
    color: #0a85c8
}

body.federal-payment .grey-body-section .list-group-container, body.state-payment .grey-body-section .list-group-container {
    background-color: #fff;
    padding: 0 32px 40px
}

@media screen and (max-width: 768px) {
    body.federal-payment .grey-body-section .list-group-container, body.state-payment .grey-body-section .list-group-container {
        padding: 0 32px 20px
    }
}

@media screen and (max-width: 400px) {
    body.federal-payment .grey-body-section .list-group-container, body.state-payment .grey-body-section .list-group-container {
        padding: 0 10px 20px
    }
}

body.federal-payment .grey-body-section .list-group-container .header, body.state-payment .grey-body-section .list-group-container .header {
    background-color: #4a4a4a;
    padding-left: 49px;
    height: 42px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-family: Gotham-Bold-Products, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 1158px;
    position: relative
}

body.federal-payment .grey-body-section .list-group-container .header:hover, body.state-payment .grey-body-section .list-group-container .header:hover {
    cursor: pointer;
    opacity: .8
}

body.federal-payment .grey-body-section .list-group-container .header img, body.state-payment .grey-body-section .list-group-container .header img {
    position: absolute;
    top: 38%;
    left: 15px;
    width: 12px;
    height: 8px
}

body.federal-payment .grey-body-section .list-group-container .header:after, body.state-payment .grey-body-section .list-group-container .header:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 9px;
    height: 6px;
    background-image: url(../images/icon-arrow-down-up.svg);
    background-size: 100% 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

body.federal-payment .grey-body-section .list-group-container .header.collapsed:after, body.state-payment .grey-body-section .list-group-container .header.collapsed:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

body.federal-payment .grey-body-section .list-group-container .list-group, body.state-payment .grey-body-section .list-group-container .list-group {
    max-width: 1158px;
    margin: 0 auto
}

body.federal-payment .grey-body-section .list-group-container .list-group.collapse, body.state-payment .grey-body-section .list-group-container .list-group.collapse {
    display: none
}

body.federal-payment .grey-body-section .list-group-container .list-group.show, body.state-payment .grey-body-section .list-group-container .list-group.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

body.federal-payment .grey-body-section .list-group-container .list-group .list-group-item, body.state-payment .grey-body-section .list-group-container .list-group .list-group-item {
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 29px;
    padding-right: 29px
}

body.federal-payment .grey-body-section .list-group-container .list-group .list-group-item:last-child, body.state-payment .grey-body-section .list-group-container .list-group .list-group-item:last-child {
    border-bottom-width: 0
}

body.federal-payment .grey-body-section .list-group-container .list-group .list-group-item:first-child, body.state-payment .grey-body-section .list-group-container .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

body.federal-payment .grey-body-section .list-group-container .form-row, body.state-payment .grey-body-section .list-group-container .form-row {
    background-color: #f2f2f2;
    border-bottom: 1px solid #d0d0d0;
    min-height: 70px;
}

body.federal-payment .grey-body-section .list-group-container .form-row a, body.state-payment .grey-body-section .list-group-container .form-row a {
    border: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block
}

body.federal-payment .grey-body-section .list-group-container .form-row a .start-button, body.state-payment .grey-body-section .list-group-container .form-row a .start-button {
    color: #fff;
    font-family: Gotham-Bold-Products, Helvetica, Arial, sans-serif;
    background-color: #d76902;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    line-height: 32px;
    letter-spacing: 1px;
    font-size: .88em;
    opacity: 1;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

body.federal-payment .grey-body-section .list-group-container .form-row a .start-button:hover, body.state-payment .grey-body-section .list-group-container .form-row a .start-button:hover {
    background-color: #097bb8
}

body.federal-payment .grey-body-section .list-group-container .form-row .form-text, body.state-payment .grey-body-section .list-group-container .form-row .form-text {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 14px;
    margin: 0 0 0 17px;
    width: 75%;
    min-width: 500px
}

body.federal-payment .grey-body-section .list-group-container .last-row, body.state-payment .grey-body-section .list-group-container .last-row {
    border-bottom: none
}

body.federal-payment .grey-body-section .cert-customerservice, body.state-payment .grey-body-section .cert-customerservice {
    background-color: #fff;
    padding: 15px 0;
    font-size: .75em;
    color: #555;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

body.federal-payment .grey-body-section .submit-payment-footnote, body.state-payment .grey-body-section .submit-payment-footnote {
    font-size: .88em;
    line-height: 21px;
    color: #c30;
    text-align: right;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1155px
}

@media only screen and (max-width: 767px) {
    body.federal-payment .grey-body-section .submit-payment-footnote, body.state-payment .grey-body-section .submit-payment-footnote {
        text-align: left
    }
}

body.federal-payment .grey-body-section .printer-friendly, body.state-payment .grey-body-section .printer-friendly {
    margin: 20px 0 24px;
    font-size: 14px
}

body.federal-payment .grey-body-section .save-information-form-radio-container .bubble, body.state-payment .grey-body-section .save-information-form-radio-container .bubble {
    border-radius: 4px;
    border: 1px solid #097bb8;
    background: #097bb8;
    color: #fff;
    font-size: 14px;
    font-family: Gotham-Bold-Products, Helvetica, Arial, sans-serif;
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    position: relative
}

body.federal-payment .grey-body-section .save-information-form-radio-container .bubble:before, body.state-payment .grey-body-section .save-information-form-radio-container .bubble:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 14px;
    border-width: 10px 11px 0;
    border-style: solid;
    border-color: #097bb8 transparent;
    display: block
}

body.federal-payment .grey-body-section .save-information-form-radio-container .bubble:after, body.state-payment .grey-body-section .save-information-form-radio-container .bubble:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 15px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #097bb8 transparent;
    display: block
}

body.federal-payment .grey-body-section .save-information-form-radio-container .form-check-label, body.state-payment .grey-body-section .save-information-form-radio-container .form-check-label {
    margin-left: 20px
}

body.federal-payment .grey-body-section .save-information-form-radio-container .form-check-label span, body.state-payment .grey-body-section .save-information-form-radio-container .form-check-label span {
    display: inline-block;
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.2em
}

#login-link {
    font-size: 14px !important;
}

#login-link {
    border-bottom: 1px solid #097bb8;
    border-bottom: 1px solid rgba(9, 123, 184, .29)
}

#login-link, #login-link:active, #login-link:hover {
    color: #097bb8;
    text-decoration: none
}

#login-link:active, #login-link:hover {
    border-bottom: 1px solid transparent
}

#otherTypes {
    font-size: 14px;
}

.welcome-text {
    padding: 0 !important;
}
.welcome-text a {
    font-size: 14px !important;
}

.welcome-text a {
    border-bottom: 1px solid #097bb8;
    border-bottom: 1px solid rgba(9, 123, 184, .29)
}

.welcome-text a, .welcome-text a:active, .welcome-text a:hover {
    color: #097bb8;
    text-decoration: none
}

.welcome-text a:active, .welcome-text a:hover {
    border-bottom: 1px solid transparent
}
.payment-type-page #progress-container {
    max-width: 1155px;
    margin: 0 auto;
}

.payment-type-page .products-container {
    max-width: 1155px;
    margin: 0 auto;
}

.payment-type-page .pre-forms {
    max-width: 1155px;
    margin: 0 auto;
    padding-left: 32px !important;
    padding-right: 32px !important;
}
.payment-type-page .tabrow {
    max-width: 1155px;
    margin: 0 auto !important;
}
.payment-type-page .tls-block {
    display: none;
}
.payment-type-page footer hr {
    height: 0;
}
.payment-type-page .main-content-box {
    width: 100% !important;
}
.payment-type-page .main-content-box table:first-child {
    width: 100% !important;
}
.payment-type-page .selected a {
    color: black !important;
}
.progress-point {
    color: #686868 !important
}

body.home-page .list-group-container {
    background-color: #fff;
    padding: 0 15px 40px
}

body.home-page .list-group-container .header {
    background-color: #4a4a4a;
    padding-left: 49px;
    height: 42px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-family: Gotham-Bold-Products, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 42px;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 1158px;
    position: relative;
}

body.home-page .products-container {
    max-width: 1155px;
    margin: 0 auto;
	padding: 0 25px 25px 0px;
}

body.home-page .list-group-container .header:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 9px;
    height: 6px;
    background-image: url(../images/icon-arrow-down-up.svg);
    background-size: 100% 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

body.home-page .list-group-container .header:hover {
    cursor: pointer;
    opacity: .8
}

body.home-page .grey-body-section .list-group-container .header.collapsed:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

body.home-page .list-group-container .form-row .form-text {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 14px;
    margin: 0 0 0 17px;
    width: 70%;
    min-width: 500px
}

body.home-page .list-group-container .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

body.home-page .list-group-container .list-group .list-group-item {
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 29px;
    padding-right: 29px
}

body.home-page .list-group-container .form-row {
    background-color: #f2f2f2;
    border-bottom: 1px solid #d0d0d0;
    min-height: 70px;
}

body.home-page .list-group-container .form-row a .start-button {
    color: #fff;
    font-family: Gotham-Bold-Products, Helvetica, Arial, sans-serif;
    background-color: #d76902;
    border-radius: 3px;
    width: 55px;
    height: 30px;
    line-height: 32px;
    letter-spacing: 1px;
    font-size: .88em;
    opacity: 1;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

body.home-page .list-group-container .form-row a {
    border: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block
}

body.home-page .list-group-container .list-group {
    max-width: 1158px;
    margin: 0 auto
}

body.home-page .list-group-container .list-group.collapse {
    display: none
}

body.home-page .list-group-container .list-group.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

body.home-page .list-group-container .list-group .list-group-item:last-child {
    border-bottom-width: 0
}

.Rectangle-3 {
  width: 1100px;
  height: 55px;
  border-radius: 5px;
  float:left;
  margin-bottom: 13px;
  box-shadow: 0 6px 9px 0 rgba(0, 87, 132, 0.16);
  margin-top: 11px;  
}

.Rectangle-src-3 {
  width: 950px;
  height: 55px;
  border-radius: 5px;
  box-shadow: 0 6px 9px 0 rgba(0, 87, 132, 0.16);
  margin-top: 15px;
  background-color: #ffffff; 
}

.Rectangle-4 {
  height: 55px;
  float:left;
}

.Information {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #097bb9;
  margin: 0 7px 2px 18.6px;
}

.Message-about-what-h {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  margin: 7px 0 0 74.6px;
  margin-bottom: 5px;
}

.Rectangle-payer-info-3 {
  width: 1060.50px;
  height: 55px;
  border-radius: 5px;
  float:left;
  margin-bottom: 13px;
  margin-top: 11px;
  background-color: #ffffff;
  box-shadow: 0 6px 9px 0 rgba(0, 87, 132, 0.16);    
}

.Rectangle-payer-info-3 .Information {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #097bb9;
  padding-top: 15px;
}

.Message-about-what-h-small {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  margin: 7px 0 0 74.6px;
  margin-bottom: 5px;
}