@font-face {
    font-family: Gotham-Bold-Who-Can-I-Pay;
    src: url(../fonts/Gotham-Bold.eot);
    src: url(../fonts/Gotham-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Bold.woff) format("woff"), url(../fonts/Gotham-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gotham-Medium-Who-Can-I-Pay;
    src: url(../fonts/Gotham-Medium.eot);
    src: url(../fonts/Gotham-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Medium.woff) format("woff"), url(../fonts/Gotham-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.who-can-i-pay .main-content-box {
    width: 100% !important;
}
.who-can-i-pay .main-content-box table:first-child {
    width: 100% !important;
}

.who-can-i-pay .zipcode {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    padding-top: 15px;
}

.who-can-i-pay .zipcode label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.whocanipay a {
    font-size: 14px;
    border-bottom: 1px solid #097bb8 !important;
    border-bottom: 1px solid rgba(9, 123, 184, .29) !important
}

.whocanipay a, .whocanipay a:active, .whocanipay a:hover {
    color: #097bb8;
    text-decoration: none !important
}

.whocanipay a:active, .whocanipay a:hover {
    border-bottom: 1px solid transparent !important
}

#ZpostalCd {
    border-style: none;
    height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
    color: black;
    display: inline-block;
    vertical-align: middle;
}

#ZpostalCd::-ms-clear {
    display: none;
}

#zip-code-form {
    border-radius: 5px;
    border: 1px solid #a6a6a6;

}

.who-can-i-pay a.btn, .whocanipay a.btn:hover {
    text-decoration: none;
    color: #fff
}

.whocanipay a.btn:hover {
    background-color: #097bb8
}

.whocanipay a.btn.btn-search:hover {
    background-color: #097bb8
}

.whocanipay a.btn {
    display: block;
    background-color: #0f436e;
    text-align: center;
    border-radius: 4px;
    font-size: .88em;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-family: Gotham-Medium-Who-Can-I-Pay, Helvetica, Arial, sans-serif;
}

.whocanipay a.btn.btn-pay-now {
    width: 110px;
    height: 36px;
    margin-top: 20px;
    padding: 7px;
}

.whocanipay a.btn.btn-search {
    width: 100px;
    background-color: #d76902;
    margin-left: 25px;
    padding: 8px 0;
    display: inline-block;
    vertical-align: middle;
}

.whocanipay  h1.title {
    color: #0f436e;
    font-family: Gotham-Bold-Who-Can-I-Pay, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    border-bottom: none;
}

ul.bullet-list.bullet-list-small {
    font-size: 14px;
    line-height: 1.78571em;
    padding-left: 0px;
    margin: 0 0 20px;
}

.mui-textfield.zipcode {
    max-width: 250px;
    display: inline-block;
}

.mui-group.mui-group-state-zip .zipcode {
    width: 35%;
}

.whocanipay .errortext {
    display: block;
    margin-top: -15px;
    color: #f44336;
    font-weight: normal;
}

.mui-group.mui-group-state-zip .mui-select, .mui-group.mui-group-state-zip .mui-textfield {
    float: left;
}

.form-section-heading {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #4a4a4a;
    font-size: 16px;
    font-family: Gotham-Bold-Who-Can-I-Pay, Helvetica, Arial, sans-serif;
    color: #fff;
    padding-left: 29px;
    height: 42px;
    line-height: 42px;
    margin-top: 25;
}

.form-section-heading.form-section-heading-tabs {
    padding: 5px 20px 15px;
    height: auto;
    border: 1px solid #aaa
}

@media (max-width: 768px) {
    .form-section-heading.form-section-heading-tabs {
        padding: 5px 15px 15px
    }
}

.form-section-heading.form-section-heading-tabs table {
    width: 100%
}

.form-section-heading.form-section-heading-tabs table td {
    text-align: center
}

.form-section-heading.form-section-heading-tabs a.heading-tab {
    font-size: .75em;
    font-weight: 400;
    padding: 10px 5px;
    color: #fff;
    text-decoration: none
}

.form-section-heading.form-section-heading-tabs a.heading-tab:last-of-type {
    margin-right: 0
}

.form-section-heading.form-section-heading-tabs a.heading-tab.current, .form-section-heading.form-section-heading-tabs a.heading-tab:hover {
    border-bottom: 2px solid #fff;
    text-decoration: none;
    color: #fff
}

@media (max-width: 515px) {
    .form-section-heading.form-section-heading-tabs a.heading-tab {
        display: block;
        line-height: 16px;
        border-bottom: 2px solid #555
    }
}

.form-section-callout {
    border: 1px solid #aaa;
    border-top: none;
    background-color: #f3f3f3;
    padding: 35px 45px
}

@media (max-width: 768px) {
    .form-section-callout {
        padding: 25px 15px
    }
}

.form-section-callout p {
    font-size: .75em;
    color: #4a4a4a;
    margin-bottom: 16px
}

.form-section-callout p strong {
    font-weight: 700;
    font-size: .75em
}

.form-section-callout p.collapse-bottom {
    margin-bottom: 0
}

.form-section-callout-no-border {
    border: none;
    background-color: #f2f2f2;
    padding: 20px 30px
}

@media (max-width: 768px) {
    .form-section-callout-no-border {
        padding: 25px 15px
    }
}

.form-section-callout-no-border p {
    font-size: .75em;
    color: #4a4a4a;
    margin-bottom: 16px
}

.form-section-callout-no-border p strong {
    font-weight: 700;
    font-size: .75em
}

.form-section-callout-no-border p.collapse-bottom {
    margin-bottom: 0
}

.form-section-callout-no-border .form-section-label {
    margin-bottom: 15px
}

@media (max-width: 768px) {
    .form-section-callout-no-border.padded-for-radio-buttons {
        padding: 20px 30px
    }
}

.form-section-between-text {
    margin: -18px 0 22px 46px;
    color: #4a4a4a;
    font-weight: 700;
    font-size: .75em;
    line-height: 16px
}

.form-section-between-text-no-margin {
    margin: 0;
    color: #555;
    color: #4a4a4a;
    font-weight: 700;
    font-size: .75em;
    line-height: 16px
}

.form-section-small-text {
    color: #4a4a4a;
    font-weight: 700;
    font-size: .75em;
    line-height: 16px;
    width: 16%;
    float: left;
    text-align: center;
    line-height: 50px
}

@media (max-width: 630px) {
    .form-section-small-text {
        text-align: left
    }
}

.form-section.expand-bottom {
    display: inline-block;
    margin-left: 30;
    margin-top: 10;
    margin-bottom: 10;
}

.form-section.condense-bottom {
    margin-bottom: 20px
}

.form-section .mui-group .mui-textfield--float-label:after, .form-section .mui-group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.form-section-content {
    padding: 35px 45px;
    border: 1px solid #aaa;
    border-radius: 4px
}

.form-section-content:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media screen and (max-width: 768px) {
    .form-section-content {
        padding: 35px 15px
    }
}

.form-section-content.no-border-top {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.form-section-content.no-border {
    border: none
}

.form-section-content .form-section-label {
    font-size: .88em;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 30px;
    margin-top: 60px
}

.form-section-content .form-section-label.collapse-top {
    margin-top: 0
}

.form-section-content .mui-select, .form-section-content .mui-textfield {
    margin-bottom: 25px
}

.form-section-content .mui-select.collapse-bottom, .form-section-content .mui-textfield.collapse-bottom {
    margin-bottom: 0
}

.form-section-content a.btn-payment {
    margin: 20px 0 0
}

.title-container {
    max-width: 1155px;
    margin: 11px auto 0;
    width: 100%
}

.title-container.expand-bottom {
    padding-bottom: 31px
}

@media (max-width: 400px) {
    .title-container.expand-bottom {
        padding-bottom: 0
    }
}

.title-container .separator {
    background: #ededed;
    height: 1px;
    margin: 10px 0 14px
}

@media (max-width: 768px) {
    .title-container {
        padding: 0 25px
    }
}

@media (max-width: 400px) {
    .title-container {
        padding: 0 10px
    }
}

.content-container {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto 0;
    padding: 0 10px
}

@media (max-width: 768px) {
    .content-container {
        padding: 0 25px
    }
}

@media (max-width: 400px) {
    .content-container {
        padding: 0 5px
    }
}

.container, .container-fluid {
    padding: 0 !important
}

.list-group-container .list-group {
    margin: 0;
}

.list-group-container .list-group .form-row th {
    padding-right: 20px;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}

.list-group-container .form-row {
    background-color: #f2f2f2;
    border-bottom: 1px solid #d0d0d0;
    min-height: 50px;
    padding: 0px 5px 0px 30px;
}

.list-group-container .form-row a {
    border: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block
}

.list-group-container .last-row {
    border-bottom: none
}

.whocanipay input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background-clip: padding-box;
    background-color: white;
    border-color: #848484 #C1C1C1 #E1E1E1;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-family: Arial,"Liberation Sans",FreeSans,sans-serif;
    font-size: 13px;
    height: 1.8em;
    margin: 0;
    outline: 0 none;
    padding: 2px 3px;
    text-align: left;
    vertical-align: top;
}
