.home-intro {
    background: #000 url(../images/home/bg-hero.png) no-repeat 50% 50%;
    background-size: cover;
    font-family: Gotham Pro,Helvetica,Arial,sans-serif;
    color: #fff;
    padding: 76px 0 85px;
    text-align: center}
.home-intro__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 695px}
.home-intro__desc {
    font-size: 18px;
    line-height: 1.53846em;
    margin: 0 auto;
    max-width: 695px;
    opacity: 0.7}
@media (min-width: 760px) {
    .home-intro__title {
        font-size: 46px}
    .home-intro__desc {
        font-size: 26px}
}
.home-payments-wrapper {
    margin: 25px 0 0}
.home-payments-wrapper .fed-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px}
@media (min-width: 760px) {
    .home-payments-wrapper .fed-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: auto}
}
.home-payments {
    display: block;
    margin: 0 auto 32px;
    -ms-flex-preferred-size: 296px;
    flex-basis: 980px;
    width: 980px}
@media (min-width: 760px) {
    .home-payments {
        display: inline-block;
        vertical-align: top}
}
.home-payments__title {
    background-repeat: no-repeat;
    background-position: 0 0;
    border-bottom: 1px solid #d0d0d0;
    color: #000;
    font-family: Gotham Pro,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 9px 0 27px 95px}
.home-payments__title strong {
    font-weight: 700;
    display: block}
.home-payments__title--personal {
    background-image: url(../images/home/icons-payments/personal@2x.png);
    background-size: auto 63px}
.home-payments__title--business {
    background-image: url(../images/home/icons-payments/business@2x.png);
    background-size: auto 59px}
.home-payments__list {
    margin: 17px 0 0;
    min-height: 160px;
	padding: 0 0 0 0px;
    list-style-type: none}
.home-payments__list li {
    font-size: 14px;
    line-height: 26px;
    padding: 0 0 0 24px;
    position: relative}
.home-payments__list li:before {
    background-color: #d8d8d8;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 7px;
    width: 7px;
    margin-top: -4px}
.home-payments__list a {
    font-size: 14px;
    line-height: 26px;
    color: #097bb8;
    border-bottom: 1px solid #097bb8;
    border-bottom: 1px solid rgba(9,123,184,.29)}
.home-payments__list a:active,a:hover {    
    text-decoration: none;
	border-bottom: 1px solid transparent}
.home-payments-stats {
    border-top: 1px solid #ededed;
    padding: 28px 10px 25px;
    font-family: Gotham Pro,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #000}
.home-payments-stats p {
    margin: 0 auto;
    text-align: center;
    max-width: 960px}
.home-payments-stats strong {
    font-weight: 700}
.home-bottom-nav {
    border-top: 1px solid #d0d0d0;}
.home-bottom-nav__title {
    color: #000;
    font-family: Gotham Pro,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 25px auto;
    max-width: 700px}
.home-bottom-nav__note {
    color: #4a4a4a;
    font-size: 14px;
    margin: 25px auto;
    padding: 0 10px;
    max-width: 720px;
    text-align: center}
.home-bottom-nav-list-wrapper {
    background-color: #4a4a4a;
    color: #fff;
    padding: 30px 0 0}
@media (min-width: 760px) {
    .home-bottom-nav-list-wrapper {
    padding: 30px 0}
}
.home-bottom-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 700px}
@media (min-width: 760px) {
    .home-bottom-nav-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row}
}
.home-bottom-nav-list li {
    color: #fff;
    display: inline-block;
    -ms-flex-preferred-size: 191px;
    flex-basis: 191px;
    text-align: center;
    vertical-align: top;
    margin: auto;
    width: 191px}
.home-bottom-nav-list__icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    display: block;
    margin: 0 auto 18px;
    height: 54px;
    width: 58px}
.home-bottom-nav-list__icon--account-dashboard {
    background-image: url(../images/home/icons/account-dashboard.png)}
.home-bottom-nav-list__icon--who-can {
    background-image: url(../images/home/icons/who-you-can-pay.png)}
.home-bottom-nav-list__icon--verify {
    background-image: url(../images/home/icons/verify-payment.png)}
.home-bottom-nav-list__link {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    padding: 28px 0 18px;
    width: 100%;
    transition: color .35s ease,border-color .35s ease}
.home-bottom-nav-list__link:hover {
    color: #fff;
    border: 1px solid #fff}
.home-bottom-nav-list__link:hover .home-bottom-nav-list__text {
    border-bottom: 1px solid #fff}
.home-bottom-nav-list__text {
    border-bottom: 1px solid hsla(0,0%,100%,.27);
    color: #fff;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 1px;
    transition: border-color .35s ease}
.home-page .main-content-box {
    width: 100% !important;
}
.home-page .main-content-box table:first-child {
    width: 100% !important;
}