nav {
    background-color: #0f436e;
    height: 50px;
    font-family: Gotham-Bold, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

nav #spanish-link-mobile {
    display: none;
    color: #fff;
    font-size: .75em;
    text-decoration: none;
    cursor: pointer;
}

nav #spanish-link-mobile.language-link-statelocal {
    right: 25px;
    margin-top: 17px;
}

@media (max-width: 415px) {
    nav #spanish-link-mobile {
        display: inline-block;
        cursor: pointer;
        z-index: 21;
        margin-right: 10px;
        vertical-align: 10px;
    }
}

nav .navigation {
    z-index: 19;
}

@media screen and (max-width: 768px) {
    nav .navigation {
        display: none;
    }
}

nav .navigation .nav-item {
    display: block;
    float: left;
}

nav .navigation .nav-item.current, nav .navigation .nav-item:hover {
    background-color: #097bb8;
}

nav .navigation .nav-item.expandable {
    background-image: url(../images/down_filled.png);
    background-repeat: no-repeat;
    background-size: 9px 5px;
    background-position-y: 22px;
    background-position-x: calc(100% - 17px);
    position: relative;
}

nav .navigation .nav-item.expandable a.nav-link {
    padding-right: 35px;
    -webkit-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}

nav .navigation .nav-item.expandable .dropdown-links {
    display: none;
    position: absolute;
    width: 250px;
    top: 50px;
    z-index: 1;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    z-index: 3;
}

nav .navigation .nav-item.expandable .dropdown-links a.nav-link {
    line-height: 29px;
    background-color: #097bb8;
    font-size: 10px;
}

nav .navigation .nav-item.expandable .dropdown-links a.nav-link:hover {
    background-color: #0f436e;
}

nav .navigation .nav-item.expandable:hover a.nav-link-initial {
    border-top: 4px solid #0a85c8;
    margin-top: -4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

nav .navigation .nav-item.expandable:hover .dropdown-links {
    display: block;
}

nav .navigation .nav-item a.nav-link {
    color: #fff;
    font-size: 12px;
    padding: 0 18px;
    line-height: 50px;
    letter-spacing: 1px;
    font-family: Gotham-Bold, Helvetica, Arial, sans-serif;
    display: block;
    text-transform: uppercase;
}

nav .row {
    max-width: 1150px;
    margin: 0 auto;
}

nav .navigation .nav-item a.nav-link:hover {
    text-decoration: none;
}

nav .irs-authorized {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    height: 50px;
    margin-top: 10px;
}

nav .irs-authorized img {
    vertical-align: middle;
    width: 134px;
}

.hamburger-wrapper {
    height: 600px;
}

#dl-menu {
    position: relative;
    z-index: 20;
    font-family: Gotham-Bold
}

.dl-menuwrapper {
    width: 100%;
    max-width: 300px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    display: none;
}

@media screen and (max-width: 768px) {
    .dl-menuwrapper {
        display: block;
    }
}

.dl-menuwrapper:first-child {
    margin-right: 100px
}

.dl-menuwrapper button {
    background: #0f436e;
    border: none;
    width: 50px;
    height: 50px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none
}

.dl-menuwrapper button.dl-active, .dl-menuwrapper button:hover, .dl-menuwrapper ul {
    background: #0f436e
}

.dl-menuwrapper button:after {
    content: "";
    position: absolute;
    width: 68%;
    height: 5px;
    background: #fff;
    top: 10px;
    left: 16%;
    -webkit-box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
    box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative
}

.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 15px 20px;
    font-size: 1em;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    outline: none;
    text-decoration: none;
}

.no-touch .dl-menuwrapper li a:hover {
    background: rgba(255, 248, 213, .1);
}

.dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    background: rgba(0, 0, 0, .1);
}

.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    line-height: 50px;
    font-family: icomoon;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e000";
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: #fff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
    right: 10px;
    color: #fff;
}

.dl-menuwrapper .dl-menu {
    margin: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 300px;
}

.dl-menu.dl-subview li, .dl-menu.dl-subview li.dl-subview > a, .dl-menu.dl-subview li.dl-subviewopen > a, .dl-menuwrapper li .dl-submenu {
    display: none;
}

.dl-menu.dl-subview li.dl-subview, .dl-menu.dl-subview li.dl-subview .dl-submenu, .dl-menu.dl-subview li.dl-subviewopen, .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu, .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 300px;
    top: 50px;
    left: 0;
    margin: 0;
}

.dl-menu.dl-animate-out-1 {
    -webkit-animation: b .4s;
    animation: b .4s;
}

.dl-menu.dl-animate-out-2 {
    -webkit-animation: c .3s ease-in-out;
    animation: c .3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
    -webkit-animation: d .4s ease;
    animation: d .4s ease;
}

.dl-menu.dl-animate-out-4 {
    -webkit-animation: e .4s ease;
    animation: e .4s ease;
}

.dl-menu.dl-animate-out-5 {
    -webkit-animation: f .4s ease;
    animation: f .4s ease;
}

@-webkit-keyframes b {
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    to {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-webkit-keyframes c {
    to {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes d {
    to {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes e {
    to {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes f {
    to {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
}

@keyframes b {
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    to {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes c {
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes d {
    to {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes e {
    to {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes f {
    to {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: g .3s;
    animation: g .3s;
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: h .3s ease-in-out;
    animation: h .3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
    -webkit-animation: m .4s ease;
    animation: m .4s ease;
}

.dl-menu.dl-animate-in-4 {
    -webkit-animation: l .4s ease;
    animation: l .4s ease;
}

.dl-menu.dl-animate-in-5 {
    -webkit-animation: i .4s ease;
    animation: i .4s ease;
}

@-webkit-keyframes g {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: .5;
    }
    to {
        -webkit-transform: translateZ(0) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes h {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes i {
    0% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes g {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
        opacity: .5;
    }
    to {
        -webkit-transform: translateZ(0) rotateY(0deg);
        transform: translateZ(0) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes h {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes i {
    0% {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
    -webkit-animation: j .4s ease;
    animation: j .4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: k .3s ease-in-out;
    animation: k .3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: l .4s ease;
    animation: l .4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
    -webkit-animation: m .4s ease;
    animation: m .4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
    -webkit-animation: n .4s ease;
    animation: n .4s ease;
}

@-webkit-keyframes j {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes k {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes l {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes m {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes n {
    0% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes j {
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes k {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes l {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes m {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes n {
    0% {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
    -webkit-animation: o .4s ease;
    animation: o .4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: p .3s ease-in-out;
    animation: p .3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: q .4s ease;
    animation: q .4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
    -webkit-animation: r .4s ease;
    animation: r .4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
    -webkit-animation: s .4s ease;
    animation: s .4s ease;
}

@-webkit-keyframes o {
    0% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}

@-webkit-keyframes p {
    0% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes q {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes r {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes s {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
}

@keyframes o {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes p {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes q {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes r {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes s {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
}

.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: #fff;
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: "";
}