/*for home page*/
.home-page #left-widget {
    display: none;
}

.home-page #content-side {
    width: 100% !important;
}

.home-page #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for payment type category selection page*/
.payment-type-page #left-widget {
    display: none;
}

.payment-type-page #content-side {
    width: 100%!important;
}

.payment-type-page #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for help - who can i pay page*/
.who-can-i-pay #left-widget {
    display: none;
}

.who-can-i-pay #content-side {
    width: 100% !important;
}

.who-can-i-pay #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for over 100kerror  page*/
.over-100k-page #left-widget {
    display: none;
}

.over-100k-page content-side {
    width: 100% !important;
}

.over-100k-page #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for session timeout warning page*/
.session-timeout-warning-page #left-widget {
    display: none;
}

.session-timeout-warning-page #content-side {
    width: 100% !important;
}

.session-timeout-warning-page #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for session timeout error page*/
.session-timeout-page #left-widget {
    display: none;
}

.session-timeout-page #content-side {
    width: 100% !important;
}

.session-timeout-page #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for step4 payer info page*/
.step4-confirm #left-widget {
    display: none;
}

.step4-confirm #content-side {
    width: 100% !important;
}

.step4-confirm #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for payment processing page*/
.processing-page #left-widget {
    display: none;
}

.processing-page #content-side {
    width: 100% !important;
}

.processing-page #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for payment submission error page*/
.payment-error #left-widget {
    display: none;
}

.payment-error #content-side {
    width: 100% !important;
}

.payment-error #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for step3 terms and conditions page*/
.federal-payment-3 #left-widget {
    display: none;
}

.federal-payment-3 #content-side {
    width: 100% !important;
}

.federal-payment-3 #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for help - fee calculator page*/
.fee-calc-page #left-widget {
    display: none;
}

.fee-calc-page #content-side {
    width: 100% !important;
}

.fee-calc-page #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}

.federal-payment-4 #left-widget {
    display: none;
}

.federal-payment-4 content-side {
    width: 100%!important;
}

.federal-payment-4 #content-side .content-side-container {
    width: 100%!important;
    padding-left: 0 !important;
}

/*for step5 review and submit page*/
.federal-payment-5 #left-widget {
    display: none;
}

.federal-payment-5 #content-side {
    width: 100% !important;
}

.federal-payment-5 #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}
/*for step6 payment confirmation page*/
.federal-payment-6 #left-widget {
    display: none;
}

.federal-payment-6 content-side {
    width: 100%!important;
}

.federal-payment-6 #content-side .content-side-container {
    width: 100%!important;
    padding-left: 0 !important;
}

/*for step2 enter amount page*/
.federal-payment-2 #left-widget {
    display: none;
}

.federal-payment-2 #content-side {
    width: 100% !important;
}

.federal-payment-2 #content-side .content-side-container {
    width: 100% !important;
    padding-left: 0 !important;
}